*.png
*.ipynb
datas/*.*
!Projet7_nettoyage_modelisation.ipynb
feature_importance.csv
api_2.py
/__pycache__/
/mlartifacts/
/mlruns/
application_clean.csv
dashboard_test.py
data_prob.csv
df_cleaned_p7.csv
df_filtered_p7.csv
df_sample.csv
shap_values.pickle
/api/
/dashboard/