*.png
*.ipynb
!Projet7_nettoyage_modelisation.ipynb
sample_submission.csv
previous_application.csv
installments_payments.csv
feature_importance.csv
HomeCredit_columns_description.csv
POS_CASH_balance.csv
api_2.py
application_test.csv
application_train.csv
bureau.csv
bureau_balance.csv
credit_card_balance.csv
/__pycache__/
/mlartifacts/
/mlruns/
application_clean.csv
dashboard_test.py
data_prob.csv
df_cleaned_p7.csv
df_filtered_p7.csv
df_sample.csv
shap_values.pickle
/api/
/dashboard/
